<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <!-- Use memory DB to avoid messages leaking between runs -->
    <bean id="amqDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:mem:QueuedJmsJobIntTest"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <amq:broker id="activeMqBroker" useJmx="false" persistent="true" schedulerSupport="true">

        <amq:persistenceAdapter>
            <amq:jdbcPersistenceAdapter dataSource="#amqDataSource" useDatabaseLock="false"/>
        </amq:persistenceAdapter>

        <amq:transportConnectors>
            <amq:transportConnector uri="tcp://localhost:61616" />
        </amq:transportConnectors>

    </amq:broker>

    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

</beans>