<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="
             http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
             http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
        <property name="connectionFactory" ref="amqConnectionFactory"/>
    </bean>

    <camel:endpoint id="inputq" uri="jms:inputq"/>
    <camel:endpoint id="expiredMessages" uri="jms:expiredMessages"/>

    <bean id="messageLogger" class="com.atlassian.camelapp.FailingMessageLogger"/>
    <bean id="expiredMessageLogger" class="com.atlassian.camelapp.ExpiredMessageLogger"/>


    <camelContext id="camel" trace="true" xmlns="http://camel.apache.org/schema/spring" >

        <errorHandler id="defaultErrorHandler" type="DefaultErrorHandler" deadLetterUri="jms:expiredMessages">
            <redeliveryPolicy maximumRedeliveries="0" logStackTrace="false" logHandled="true" />
        </errorHandler>

        <errorHandler id="inputqRetryErrorHandler" type="DeadLetterChannel" deadLetterUri="jms:inputqRetries">
            <redeliveryPolicy maximumRedeliveries="0" logStackTrace="false" logHandled="true" />
        </errorHandler>

        <onException >
            <exception>com.atlassian.camelapp.PermanentFailureException</exception>
            <redeliveryPolicy maximumRedeliveries="0"/>
            <handled><constant>true</constant></handled>
            <to ref="expiredMessages"/>
        </onException>


        <route id="inputroute" errorHandlerRef="inputqRetryErrorHandler">
            <from ref="inputq"/>
            <bean ref="messageLogger"/>
        </route>
        <route id="inputrouteRetries">
            <from uri="jms:inputqRetries"/>
            <choice>
                <when>
                    <xpath>$com.atlassian.hams.attempts >= 50</xpath>
                    <to ref="expiredMessages"/>
                </when>
                <otherwise>
                    <delay>
                        <constant>5000</constant>
                    </delay>
                    <to ref="inputq"/>
                </otherwise>
            </choice>
        </route>

        <route id="expiredRoute">
            <from ref="expiredMessages"/>
            <bean ref="expiredMessageLogger"/>
        </route>

    </camelContext>


</beans>