<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
                           http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
                           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <!--<bean id="amqDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="org.hsqldb.jdbcDriver"/>-->
        <!--<property name="url" value="jdbc:hsqldb:mem:QueuedJmsJobIntTest"/>-->
        <!--<property name="username" value="sa"/>-->
        <!--<property name="password" value=""/>-->
    <!--</bean>-->

    <!--<amq:broker id="activeMqBroker" useJmx="false" persistent="true">-->

        <!--<amq:persistenceAdapter>-->
            <!--<amq:jdbcPersistenceAdapter dataSource="#amqDataSource" useDatabaseLock="false"/>-->
        <!--</amq:persistenceAdapter>-->

        <!--<amq:transportConnectors>-->
            <!--<amq:transportConnector uri="tcp://localhost:61616" />-->
        <!--</amq:transportConnectors>-->

    <!--</amq:broker>-->

    <bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

</beans>